
  @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,600;1,400&display=swap');
body{
    background-color: khaki;
    font-family: 'Bitter', serif;
    display: flex;
    justify-content: center;
}
#quote-box{
    background-color: white;
    border-radius: 16px;
    width: 50%;
    /* margin-left: 25%; */
    margin-top:10%;
    padding: 16px 32px;
    gap: 16px;
}
#caixas{
    text-align: right;
    font-weight: 400;
    font-style: italic;
}
#botoes{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
.botao{
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: white;
    font-family: 'Bitter', serif;
}